#!/bin/bash

############################################################################################
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Kernel Source:
# git clone https://github.com/alanhalcyon/android_kernel_oneplus_sm8250.git -b nethunter-lineage22.1
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
############################################################################################

# Toolchain root directory
TD=~/android/nethunter-toolchains
# Preferred editor
EDIT=nano

# Clang 12
export CLANG_ROOT="${TD}/clang-12.0"
export CLANG_PATH=${CLANG_ROOT}/bin
export PATH=${CLANG_PATH}:${PATH}
export LD_LIBRARY_PATH=${CLANG_ROOT}/lib64:$LD_LIBRARY_PATH
export CLANG_TRIPLE=aarch64-linux-gnu-
# "CC=clang" cannot be exported - we'll pass it to make in the function make_kernel if "CC" is set to "clang"
CC=clang
# Source repository
CLANG_SRC="https://kali.download/nethunter-images/toolchains/clang-r416183b1.tar.gz"
CLANG_SRC_TYPE="wget"

# GCC 64bit
# arm64 cross compiler directory
CCD64="${TD}/aarch64-4.9"
export CROSS_COMPILE=${CCD64}/bin/aarch64-linux-android-
# Source repository
CROSS_COMPILE_SRC="https://kali.download/nethunter-images/toolchains/google_aarch64-4.9.tar.xz"
CROSS_COMPILE_SRC_TYPE="wget"

# GCC 32bit
# armhf cross compiler directory
CCD32="${TD}/armhf-4.9"
export CROSS_COMPILE_ARM32=${CCD32}/bin/arm-linux-androideabi-
# Source repository
CROSS_COMPILE_ARM32_SRC="https://kali.download/nethunter-images/toolchains/google_armhf-4.9.tar.xz"
CROSS_COMPILE_ARM32_TYPE="wget"

export LOCALVERSION=-NetHunter-DuB